<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.data.hemo.mobile">

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序读取外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变Wi-Fi连接状态。 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许只读来访问话机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取错略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 播音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 安装 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="android:label"
        tools:targetApi="o">
        <activity
            android:name="com.data.hemo.mobile.ui.activity.ReadyActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- This is added to handle a deep link -->
            <nav-graph android:value="@navigation/nav_ready" />
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.data.hemo.mobile.ui.activity.map.LocalMapActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.data.hemo.mobile.ui.activity.PasswordManageActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <!-- 兼容 7.0新特性-私有目录被限制访问 -->
        <provider
            android:name="com.data.mobile.resouce.config.UpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/new_app_file_paths" />
        </provider>

        <activity
            android:name="com.data.hemo.mobile.ui.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <meta-data
            android:name="ScopedStorage"
            android:value="true" /> <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="414b35cf32" /> <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="100" /> <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="official" /> <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${baiduMapKey}" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.data.hemo.mobile.receivers.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.weique.steward" />
            </intent-filter>
        </receiver>
    </application>

</manifest>

